<div class="center hero-unit">

	
		<h1>Bienvenidos al Portal de la Central de Información</h1>
		<br>
		<h2>Aquí encontrarás todo lo relacionado con la información de Méderi</h2>
		<%= link_to "Ingresar",  new_user_session_path, 
                                class: "btn btn-large btn-primary" %>
	
	
</div>