<h1>Bienvenidos al Portal de la Central de Información</h1>
<h2>Aquí encontrarás todo lo relacionado con la información de Méderi</h2>
<!-- <% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %> -->